/* Styling for the password requirements */
.password-requirements {
  margin-bottom: 20px;
  margin-top: -40px;
}

.password-requirements ul {
  list-style-type: none;
  padding: 0;
}

.password-requirements li {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin-bottom: 8px;
  color: #555;
}

.password-requirements li span {
  margin-right: 5px;
  font-size: 14px;
}



/* Initial state (when password is empty or requirements are not satisfied) */
.password-requirements li:not(.valid)>span {
  color: #d9534f; /* Red color for unsatisfied requirements */
}

/* Satisfied state (when the requirement is met) */
.password-requirements li.valid>span {
  color: green; /* Light blue color for satisfied requirements */
}

/* Optional: Hover effect for requirements */
.password-requirements li:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
