// Breakpoints for different screen sizes
$bg-color: #f8fafc;
$font-color: #4f4f4f;

$sidenav-bg_color: #1c1c1c;
$sidenav-border_color: #383838;
$sidenav-text_color: #7b7b7b;
$sidenav-active_bg_color: #2c2c2c;
$page-bg_color: #161616;
